<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DLM Session Logout</title>
        <style>
            body {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>DLM Session Logout</h1>
        <p id="statusLabel">Processing Logout for DLM "{{currentUser}}" User Session...please wait!</p>
        <script src="/assets/logoutJS"></script>
    </body>
</html>